.redressed{
    font-family:'redressed';


}
.merriweather{

    font-family: 'merriweather-black ';
}




.container-fluid
{
    font-family:
}
.cc-navbar
{
    background-color: rgb(0, 0,0, 0.55);
    font-family: Merriweather-black;
    box-shadow: 1px 1px 3px rgb(255,255,255,0.54);
    position:fixed;
    z-index: 99;
}
.cc-navbar .nav-link
{
border-bottom: 1px  solid transparent;
transition: padding-bottom .4s ease-in-out, border-color .3s ease ;

}
.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color:green ;
}


.btn-order
{

    color: green;
    border-color:green ;
    transition: 0.5s;
    font-family: merriweather;
    
    
}
.btn-order:hover,
.btn-order:active
{
color: white;
background-color: green;

}
a{
    margin-left: 50px;
}
.banner
{
background: linear-gradient( rgba(0,0,0,0.5),rgb(0,0,0,0.5)),url("../image/font2.PNG") fixed ;
background-size: cover;
height: 800px;
padding-tpx;

}
.banner .banner-desc{
font-size: 48px;
font-weight: 400;
color: white;
}
