.r
{
display: flex;
    height: 60px;
    background-color: white;
    
}

.r1
{
    background-color: rgb(44, 14, 2);
    height: 60px;
    width: 500px;

}
.r2
{
    background-color:white;
    height: 60px;
    width: 850px;
    
}
.p
{
    height: 50px;
    background-color:white;
    color: rgb(44, 14, 2);
    font-family: wide latin;
    font-size: 45px;
    text-align: center;
    margin-bottom: 3PX;
    
}
li
{
    list-style-type: none;
    float: left;
    margin-right: 40px;
    font-family: wide latin;
    font-size: 20px;
}

a
{
    text-decoration: none;
    color: rgb(44, 14, 2);
}
body
{
    background-image: url("hu2.PNG");
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
.image
{


}


    
